*{
    margin:0;
    padding: 0;
}
.navbar{
    background-color:none;
    border-radius: 0px;
}
.navbar ul{
    overflow: hidden;
 
}
.navbar ul li{
list-style: none;
float: right;
padding: 5px 10px;
}

.navbar ul li a
{
    text-decoration: none;
    color: white;
    transform: 0.2s;
    padding: 10px 15px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
   
}

.navbar ul li a:hover{
    background-color:beige;
    cursor: pointer;
    color: black;
}
header {
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.name{
    text-align: center;
    padding-top: 100px;
    color: white;
    font-size: 100px;
    font-family: Helvetica, sans-serif;
}
.button{
    margin-left: 680px;
    margin-top: 350px;
    
}
.button a{
    border: 1px solid white;
    padding: 15px 25px 15px 25px;
    border-radius: 80px;
    text-decoration: none;
    margin-right: 10px;
color: white;
transition: 0.2s;
}
.button a:hover{
    background-color:beige;
    border: 1px solid beige;
    color: #000;
}
.footer{
    border-radius: 0px;
    text-align: right;
    padding: 20px;
    background-color:black;
    color: white;
}
.footer a{
    color:white;
}